body {
  background-image: url("/prueba/web.jpg");
  background-size: cover;
  font-family: 'Coiny', cursive;
}

h1, h2 {
  color: white;
  font-family: 'Coiny', cursive;
}

#DateCountdown, #DateCountdowndos, #DateCountdowntres, #DateCountdowncuatro {
  color: white;
  font-family: 'Coiny', cursive;
}
