body {
  background-image: url("/prueba/web.jpg");
  background-size: cover;
}

h1, h2 {
  color: white;
}

#DateCountdown, #DateCountdowndos, #DateCountdowntres, #DateCountdowncuatro {
  color: white;
}
